{% extends 'dashboard/base.html' %}

{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}{% endblock %}
			<small>{% block page_description %}{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}

		{% endblock %}
	</section>
{% endblock%}

{% block title_outer %}
	<title>
		{%block title %}
			Project Ostrich
		{% endblock %}
	</title>

{% endblock %}

{% block content %}

 <!--The selected post-->
{% for post in post %}
    <div class="row">
        <div style="width:98%; margin: 0 auto;">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <h4>{{ post.title }}</h4>
                    </div>
                </div>
                <div class="box-body">
                    {{ post.text | safe  }}
                </div>
                <div class="box-footer">
                    <span>Posted by: {{ post.createdby }}</span>
                    <span style="float:right;">Date Posted: {{ post.dateposted }} {{ post.timeposted }}</span>
                </div>
                <div class="box-footer">
                    <strong>Comments:</strong>
                </div>
                {% for comment in comments %}
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <div class>
                            <span class="username">
                                {{ comment.commenter }}
                                <span class="text-muted pull-right">{{ comment.dateposted }} {{ comment.timeposted }}</span>
                            </span>
                        {{ comment.comment }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="box-footer">
                    <form method = "post">
                        {% csrf_token %}
                        <label for="comment">Add Comment:</label>
                        <input type="text" name="comment" class="form-control">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px; margin-top: 2%;">Comment</button>
                        </div>
                    </form>
                </div>
            </div>
            <a href="/selfdirected/" class="btn btn-primary btn-block btn-flat" style="width: 100px">Back</a>
        </div>
    </div>
{% endfor %}
{% endblock %}