{% extends 'dashboard/base.html' %}
{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}{% endblock %}
			<small>{% block page_description %}{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}

		{% endblock %}
	</section>
{% endblock%}

{% block javascript %}
	<script type="text/javascript">
		// Get the modal
		var modal = document.getElementById('siabbox');

		// Get the button that opens the modal
		var btn = document.getElementById("siabbutton");

		var siab = document.getElementById('siab');

		// When the user clicks the button, open the modal 
		btn.onclick = function() {
		modal.style.display = "block"
		btn.style.display = "none"
		siab.setAttribute('src', siab.getAttribute('data-src'));
		}

		var trailerbox = document.getElementById("close");
	</script>
{% endblock %}


{% block content %}
	<section class="content">
		<div class="float-left">
			{% if correct is True or hitmaxattempts is True %}
					<div class="row">
						<div class="col-md-5">
							<div class="box box-solid box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">{{topic}}: {{ question.title}}</h3>
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
									</div>
								</div>
							
								<div class="box-body">
									{% if password is not False %}
										<h5>Shell Password: {{password}}</h5>
									{% endif %}
									<div style="width: 100%; word-break: break-all;">
										<p>{{question.text | safe | cut:"<p>" | cut:"</p>"}}</p>
									</div>
									
									<div class="pull-right" style="width: 100%">
										<form method="post">
											Your Answer:
											<input type="text" class="form-control" placeholder="{{ latestanswer }}" disabled>
											<div>
												{% if hint is not None %}
													<h5 class="pull-left" style="margin-top: 2%; width: 50%; word-break: break-all;">
														<b>Hint Used:</b>
														<br>
															{{question.hint}}
													</h5>
												{% endif %}
												<div style="text-align: right; padding: 1%; margin-top: 2%; ">
													{% if correct is True%}
														Correct!
														<span class="glyphicon glyphicon-ok"></span>
													{% elif question.questiontype == 'OE'%}
														{% if ismarked is True %}
															Correct!
															<span class="glyphicon glyphicon-ok"></span>
														{% else %}
															Marking Pending!
															<span class='glyphicon glyphicon-exclamation-sign'></span>
														{% endif %}
													{% else %}
														Wrong! 
													<span class="glyphicon glyphicon-remove"></span>
													{% endif %}
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="box-footer">
									<p class="pull-right">
										<b>{{ question.points }} points</b>
										{% if hint is not None %}
											({{question.hintpenalty}} deducted)
										{% endif %}
									</p>
								</div>
							</div>
							
							<div style="width: 100px">
								{% if question.questiontype == 'MCQ' %}
									<a href="../../" class="btn btn-block btn-primary">Back</a>
								{% else %}
									<a href="../" class="btn btn-block btn-primary">Back</a>
								{% endif %}
							</div>
						</div>
					
						{% if siab is not False %}
							<div class="float-right">
									<button class="btn btn-block btn-success" style="width: 10%;"id="siabbutton">Connect</button>
								<div id="siabbox">
									<iframe id ='siab' width="50%" height="700px" data-src="https://{{ siab }}" frameborder="0"></iframe>
								</div>
							</div>
						{% endif %}
					</div>
			{% else %}
				<div class="row justify-content-md-center">
					<div class="col-md-5">
						<div class="box box-solid box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{topic}}: {{ question.title}}</h3>
								
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							
							<div class="box-body">
								{% if password is not False %}
									<h5><b>Shell Password:</b> {{password}}</h5>
								{% endif %}
								<div style="width: 100%; word-break: break-all;">
									<p>{{question.text | safe | cut:"<p>" | cut:"</p>"}}</p>
								</div>
								<div>
									<form method="post" class="pull-right" style="width:100%;">
										{% csrf_token %}
										{% if question.questiontype == 'OE' %}
											<b>Answer:</b>
											{% if ismarked is False %}
											<div class="pull-right" style="width: 100%;">
												<textarea class="form-control" name="answergiven" placeholder="{{ latestanswer }}" disabled style="max-width: 100%; min-width: 100%;" required></textarea>
												<h5 style="font-size: 16px; text-align: right;">
													Marking Pending!
													<span class="glyphicon glyphicon-exclamation-sign"></span>
												</h5>
											</div>
											{% else %}
											{% for field in form %}
												<div class="fieldWrapper">
													{{ field.errors }}
												</div>
											{% endfor %}
												<div class="pull-right" style="width: 100%;">
													<textarea class="form-control" name="answergiven" style="max-width: 100%; min-width: 100%;" required></textarea>
												</div>
												{% if latestanswer is not None %}
												<div style="text-align: right; padding: 1%;">
													<h5 style="font-size: 16px;">
														Wrong! 
														<span class="glyphicon glyphicon-remove"></span>
														<br>
														<label>Previous Answer:</label> {{ latestanswer }}
													</h5>
												</div>
												{% endif %}
											{% endif %}
										{% elif question.questiontype == 'TF'%}
											<b>Answer:</b>
											<div class="pull-right" style="width: 100%;">
												<select name="answergiven" class="form-control">
													<option value="True">True</option>
													<option value="False">False</option>
												</select>
											</div>
										{% else %}
											{{ form }}
										{% endif %}
										<div style="text-align: right; padding: 1%;">
											{% if latestanswer is not None %}
												{% if question.questiontype != 'OE' %}
													{% if question.questiontype == 'SA' %}
														{% if latestpoints != 0 %}
															<h5 style="font-size: 16px;">
																Partially Correct!
																<span class="glyphicon glyphicon-exclamation-sign"></span>
																<br>
																<label>Previous Answer:</label> {{ latestanswer }}
																<br>
																<label>Points Awarded:</label> {{ latestpoints.marksawarded }}
															</h5>
														{% endif %}
													{% else %}
														<h5 style="font-size: 16px;">
															Wrong! 
															<span class="glyphicon glyphicon-remove"></span>
															<br>
															<label>Previous Answer:</label> {{ latestanswer }}
														</h5>
													{% endif %}
												{% endif %}
											{% endif %}
										</div>
										<div>
										{% if hint is None %}
											<a href="activatehint" class="btn btn-block btn-danger pull-left" style="margin-top: 2%; width: 50%;">
												Use Hint 
												<b>
													{% if question.hintpenalty is 0%}
														(no points deducted)
													{%else%}
														({{question.hintpenalty}} points deducted)
													{% endif %}
												</b>
											</a>
											{% if question.questiontype != 'OE' %}
												<button class="btn btn-block btn-primary pull-right" type="submit" style="width: 20%; margin-top: 2%;">Submit</button>
											{% else %}
												{% if latestanswer is None %}
													<button class="btn btn-block btn-primary pull-right" type="submit" style="width: 20%; margin-top: 2%;">Submit</button>
												{% elif ismarked is True %}
													<button class="btn btn-block btn-primary pull-right" type="submit" style="width: 20%; margin-top: 2%;">Submit</button>
												{% endif %}
											{% endif %}
										{% else %}
											<div>
												<h5 class="pull-left" style="margin-top: 2%; width: 50%; word-break: break-all;">
													<b>Hint:</b>
													<br> 
													{{question.hint}}
												</h5>
												<button class="btn btn-block btn-primary pull-right" type="submit" style="width: 20%; margin-top: 2%;">Submit</button>
											</div>
										{% endif %}
										</div>
									</form>
								</div>
							</div>
							
							<div class="box-footer">
								<p class="pull-right">
									<b>{{ question.points }} points</b>
									{% if hint is not None %}
										({{question.hintpenalty}} deducted)
									{% endif %}
								</p>
							</div>
						</div>
					
						<div style="width: 100px">
							{% if question.questiontype == 'MCQ' %}
								<a href="../../" class="btn btn-block btn-primary">Back</a>
							{% else %}
								<a href="../" class="btn btn-block btn-primary">Back</a>
							{% endif %}
						</div>
					</div>
					{% if siab is not False %}
					<div class="float-right">
						<button class="btn btn-block btn-success" style="width: 10%;"id="siabbutton">Connect</button>
						<div id="siabbox">
							<iframe id ='siab' width="50%" height="700px" data-src="https://{{ siab }}" frameborder="0"></iframe>
						</div>
					</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}