{% extends 'dashboard/base.html' %}

{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}Ranges{% endblock %}
			<small>{% block page_description %}view all ranges{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
		{% endblock %}
	</section>
{% endblock%}

{% block content %}
<section class = "content">
	<div class="row">
			<a class="btn btn-app" href="entercode" style="width: 150px;">
					<i class="fa fa-plus"></i>
					<b>Add Range (Range Code)</b>
			</a>
		<div>
			<div class="box box-solid box-primary" style="box-shadow: 1px 2px 5px grey;">
				<div class="box-header with-border">
					<h3 class="box-title">Active Ranges</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<div class="box-body">
					{% if rangeobject %}
						<table class="table table-bordered table-hover dataTable" role="grid">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Range Name
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Date Start
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">	
										Time Start
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Date End
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Time End
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Current Score
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
							{% for range in rangeobject %}
								<tr role="row"></tr>
								<td>{{ range.rangeID.rangename }}</td>
								<td>{{ range.rangeID.datestart }}</td>
								<td>{{ range.rangeID.timestart }}</td>
								<td>{{ range.rangeID.dateend }}</td>
								<td>{{ range.rangeID.timeend }}</td>
								<td>{{ range.points }}/{{range.rangeID.maxscore}}</td>
								<td><a style="width: 100px;" class="btn btn-block btn-primary" href="{{ range.rangeID.rangeurl }}/play">Play Range</a></td>
							{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p>You are not assigned to any ranges.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div>
			<div class="box box-solid box-primary" style="box-shadow: 1px 2px 5px grey;">
				<div class="box-header with-border">
					<h3 class="box-title">Inactive Ranges</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<div class="box-body">
					{% if inactive %}
						<table class="table table-bordered table-hover dataTable" role="grid">
							<thead>
								<tr role="row">
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Range Name
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Date Start
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">	
										Time Start
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Date End
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Time End
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Final Score
									</th>
									<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for range in inactive %}
									<tr role="row">
										<td>{{ range.rangeID.rangename }}</td>
										<td>{{ range.rangeID.datestart }}</td>
										<td>{{ range.rangeID.timestart }}</td>
										<td>{{ range.rangeID.dateend }}</td>
										<td>{{ range.rangeID.timeend }}</td>
										<td>{{ range.points }}/{{range.rangeID.maxscore}}</td>
										<td><a style="width: 150px;" class="btn btn-block btn-primary" href="progress/{{ range.rangeID.rangeurl }}/report">Range Report</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p>You have no past ranges</p>	
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}