{% block content %}
    <h2>Delete Container</h2>
    {% if allresult %}
        {% for result in allresult %}
            <ul>
                <li>{{ result.Id }}</li>
                <li>{{ result.Name }}</li>
                <li>{{ result.Status }}</li>
            </ul>
        {% endfor %}
        <hr>
    {% endif %}

    <form method="get">
        <input type="text" name="id"/>
        <button type="submit">Destroy</button>
    </form>

    {% if data %}
        {% if data.message == 'success' %}
            <p>Container is destroyed. ID is <strong>{{ data.Id }}</strong></p>
        {% else %}
            <p>{{ data.message }}</p>
        {% endif %}
    {% endif %}
{% endblock %}