{% extends 'dashboard/base.html' %}

{% block content_header%}
<section class="content-header">
	<h1>
		{% block page_name %}Dashboard{% endblock %}
		<small>{% block page_description %}{% endblock %}</small>
	</h1>
  {% block breadcrumbs %}
	{% endblock %}
</section>
{% endblock%}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="box box-solid box-primary" style="box-shadow: 1px 2px 5px grey;">
      <div class="box-header with-border">
        <h3 class="box-title" style="font-size:22px;">Current Ranges</h3>
        <div class="box-tools pull-right">
	  			<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				</div>
      </div>
    
      <div class="box-body">
        <table class="table table-hover dataTable" role="grid">
          {% if assignedranges %}
            <thead>
              <tr role="row">
                <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                  Range Name
                </th>
                <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for range in assignedranges %}
                <tr role="row">
                  <td class="text-center">{{ range.rangeID.rangename }}</td>
                  <td ><a style="width: 100px;" class="btn btn-block btn-primary center-block" href="/ranges/{{ range.rangeID.rangeurl }}/play">Play Range</a></td>
                </tr>
              {% endfor %}
            </tbody>
          {% else %}
            <tr role="row">
              <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                No Assigned Active Ranges 
              </th>
            </tr>
          {% endif %}
        </table>
			  <div class="box-footer">
					<a class="btn btn-primary center-block" href="/ranges/">View All Ranges</a>
				</div>
			</div>
    </div>
  </div>
  
  <div class="w-100"></div>
    <div class="col-md-6">
      <div class="box box-solid box-success" style="box-shadow: 1px 2px 5px grey;">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: 22px">Top 5 Leaders in {{rangename}}</h3>
          <div class="box-tools pull-right">
					  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			    </div>
        </div>
        
        <div class="box-body">
          <table class="table table-hover dataTable" role="grid">
			     {% if scoreboard %}  
              <thead>
                <tr role="row">
                    <th class="sorting_asc text-center" tabindex="0" aria-controls="example2"  aria-sort="asceding">
                        Rank
                    </th>
                    <th class="sorting_asc text-center" tabindex="0" aria-controls="example2"  aria-sort="asceding">
                        Score
                    </th>
                    <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" style="width:65%;" aria-sort="asceding">
                        Username
                    </th>
                </tr>
              </thead>
              <tbody>
              {% for students in topfive %}
                {% if students.studentID == username %}
                  <tr role="row" class="bg-yellow">
                {% else %}
                  <tr role="row">
                {% endif %}
                    <td class="text-center" style="font-size:18px;"> #{{forloop.counter}}</td>
                    <td class="text-center" style="font-size:18px;">{{ students.points}}/{{ maxscore }}</td>
                    <td class="text-center" style="font-size:18px;"><strong>{{ students.studentID }}</strong></td>
                </tr>
              {% endfor %}
              
              {% if madeit is False %}
                {% for students in ranking %}
                  {% if students.studentID == username %}
                  <tr role="row">
                    <td class="text-center" style="font-size: 18px; transform: rotate(90deg);" colspan="3">...</td>
                  </tr>
                  <tr role="row" class="bg-gray">
                    <td class="text-center" style="font-size:18px;"> #{{forloop.counter}} </td>
                    <td class="text-center" style="font-size:18px;">{{userscore}}/{{ maxscore }}</td>
                    <td class="text-center" style="font-size:18px;"><strong>{{students.studentID}}</strong></td>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
              </tbody>
            {% else %}
              <tr role="row">
                <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                  No Assigned Active Ranges 
                </th>
              </tr>
            {% endif %}
          </table>
          <div style="margin-top: 1%;">
            <a class="btn btn-success center-block" href="/progress/{{rangeurl}}/report/">View Full Leaderboard in Range Report</a>
          </div>
		  	</div>
      </div>
    </div>

</div>

<div class="row" style="padding-top:3%">
  {% for range in reportboxes %}
  <div class="col-lg-3 col-6">
      {% if forloop.counter == 1%}
        <div class="small-box bg-light-blue">
      {% elif forloop.counter == 2 %}
        <div class="small-box bg-green">
      {% elif forloop.counter == 3 %}
        <div class="small-box bg-orange">
      {% else %}
        <div class="small-box bg-red">
      {% endif %}
        <div class="inner">
          <p style="font-size: 25px">
            {% for things in latestranges %}
              {% if things.rangeID.rangeid == range.rangeID.rangeid %}
                {{things.points}}
              {% endif %}
            {% endfor %}
            /{{range.rangeID.maxscore}}
          </p>
          <p>{{range.rangeID.rangename}}</p>
        </div>
        <a href="/progress/{{range.rangeID.rangeurl}}/report" class="small-box-footer" style="padding:3% 0%;">View report <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}