{% extends 'teachers/teacherbase.html' %}

{% block header %}
    Create Range Here
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="register-box-body">
                        <p class="login-box-msg">Add A Range</p>
                        <form = {% url 'createrange' %} method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                    <label for="rangename">Range Name:</label>
                                    <input type="text" name="rangename" class="form-control">
                            </div>
                            <div class="form-group has-feedback">
                                <label for="rangeurl">Range URL: <p>(Hashtags(#), Slashes(/) Not Allowed)</p></label>
                                <input type="text" name="rangeurl" class="form-control">
                            </div>
                            <div class="form-group has-feedback">
                                <label for="datestart">Start Date:</label>
                                <input type="date" name="datestart" class="form-control">
                            </div>
                        
                            <div class="form-group has-feedback">
                                <label for="timestart">Start Time:</label>
                                <input type="time" name="timestart" class="form-control">
                            </div>

                            <div class="form-group has-feedback">
                                <label for="dateend">Date End:</label>
                                <input type="date" name="dateend" class="form-control">
                            </div>

                            <div class="form-group has-feedback">
                                <label for="timeend">Time End:</label>
                                <input type="time" name="timeend" class="form-control">
                            </div>
                            

                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

