{% extends 'teachers/teacherbase.html' %}
{% block content %}
<script>
    function changeEvent() {
        var selectedVal = document.getElementById("questiontype").value;
        if (selectedVal === "FL") {
            window.location.href = '../FL';
            return false;
        }
        if (selectedVal === "TF") {
            window.location.href = '../TF';
            return false;
        }
        if (selectedVal === "OE") {
            window.location.href = '../OE';
            return false;
        }
        if (selectedVal === "MCQ") {
            window.location.href = '../MCQ';
            return false;            
        }
    }   
</script>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6 col-md-offset-3">
            <div class="register-box-body">
                <p class="login-box-msg" style="font-size: 18px;">
                    Create Question for {{ rangename }}
                    <br>
                    Current Score is : 
                    {% if currentmarks is None %}
                        0
                    {% else %}
                        {{ currentmarks }} 
                    {% endif %}
                    points
                </p>
                <div style="margin: 2% 0%;">
                    <a href="../../" class="btn btn-success btn-block btn-flat" style="margin: 0 auto; font-size: 18px; margin-bottom: 3%;">Complete Range Creation</a>

                    <form method = "post">
                        {% csrf_token %}
                        <div class="well">
                            <label for="newtopicname">Create A New Topic:</label>
                            <input type="text" name="newtopicname" class="form-control">
                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px; margin: 2%;">Submit</button>
                            <br><br>
                        </div>
                    </form>
                </div>

                <form method="post">
                    {{ form.media }}
                    {% csrf_token %}
                    <p style="color:#dd4b39;"><b>* Required</b></p>
                    <div class="form-group has-feedback">
                        <label for="questiontype">Question Type: <span style="color:#dd4b39;">*</span></label>
                        <select name="questiontype" id="questiontype" class="form-control" value="" onchange="changeEvent()" required>
                            <option value="SA" selected hidden>Short Answer</option>
                            {% for x in questiontypechoices %}	
                                <option value='{{ x.0 }}'>{{ x.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="topicname">Topic of Question: <span style="color:#dd4b39;">*</span></label>
                        <select name="topicname" id = "ourtopic" class="form-control" value="" required>
                            <option value="" disabled selected hidden>Choose A Topic...</option>
                            {% for e in questiontopic %}	
                                <option value='{{ e.0 }}'>{{ e.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group has-feedback">
                            <label for="title">Title: <span style="color:#dd4b39;">*</span></label>
                            <input type="text" name="title" class="form-control" required>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="text">Question Description: <span style="color:#dd4b39;">*</span></label>
                        <div class="box">
                            {% if form.text.errors %}
                            {{ form.text }}
                            <ul style="color: #dd4b39">
                                {% for error in form.text.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {{ form.text }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="hint">Hint: <span style="color:#dd4b39;">*</span></label>
                        <input type="text" name="hint" class="form-control" required>
                    </div>
                
                    <div class="form-group has-feedback">
                        <label for="points">Points: <span style="color:#dd4b39;">*</span></label>
                        {% if form.points.errors %}
                        <input type="number" name="points" value=0 class="form-control" style="border-color: #dd4b39;" required>
                        <ul style="color: #dd4b39">
                            {% for error in form.points.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <input type="number" name="points" value=0 class="form-control" required>
                        {% endif %}
                    </div>
                    
                    <div class="form-group has-feedback">
                        <label for="hintpenalty">Hint Penalty: <span style="color:#dd4b39;">*</span></label>
                        {% if form.hintpenalty.errors %}
                        <input type="number" name="hintpenalty" value=0 class="form-control"style="border-color: #dd4b39;">
                        <ul style="color: #dd4b39">
                            {% for error in form.hintpenalty.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <input type="number" name="hintpenalty" value=0 class="form-control">
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback">
                        <label for="answer">Answer: <span style="color:#dd4b39;">*</span></label>
                        <input type="text" name="answer" class="form-control" required>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="usedocker">Use Shell-in-a-box? <span style="color:#dd4b39;">*</span></label>
                        <select name="usedocker" class="form-control">
                            <option value="False" selected>No</option>
                            <option value="True">Yes</option>
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="registryid">Registry Image Name (if using shell-in-a-box): <p style="color:#dd4b39;"><i>(Warning: will not work if the wrong image name is entered)</i></p></label>
                        {% if form.usedocker.errors %}
                        <input type="text" name="registryid" class="form-control" style="border-color: #dd4b39;">
                        <ul style="color: #dd4b39">
                            {% for error in form.usedocker.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <input type="text" name="registryid" class="form-control">
                    {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px">Submit</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}