{% extends 'teachers/teacherbase.html' %}

{% block title_outer %}
	<title>
		{%block title %}
        Project OSTRICH
		{% endblock %}
	</title>

{% endblock %}

{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}{% endblock %}
			<small>{% block page_description %}{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}

		{% endblock %}
	</section>
{% endblock%}

{% block content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="register-box-body">
                    <form method="post">
                        {% csrf_token %}

                        <h3 class="text-center"> Reset Password </h3>
                        <p class="text-center" style="color: #dd4b39">You will be logged out after resetting your password.</p>
                        <div class="form-group has-feedback">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="form-control" value="{{ user.email }}" disabled>
                        </div>

                        <label for="oldpassword">Enter Current Password:</label>
                        <div class="form-group has-feedback">
                            {% if form.oldpassword.errors %}
                                <input type="password" name="oldpassword" class="form-control" placeholder="Password" required style="border-color: #dd4b39;">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% else %}
                                <input type="password" name="oldpassword" class="form-control" placeholder="Password" required>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% endif %}
                        </div>

                        <label for="password1">Enter New Password:</label>
                        <div class="form-group has-feedback">
                            {% if form.password2.errors %}
                                <input type="password" name="password1" class="form-control" placeholder="Password" required style="border-color: #dd4b39;">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% else %}
                                <input type="password" name="password1" class="form-control" placeholder="Password" required>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% endif %}
                        </div>

                        <label for="password2">Confirm Password:</label>
                        <div class="form-group has-feedback">
                            {% if form.password2.errors %}
                                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required style="border-color: #dd4b39;">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                <ul style="color: #dd4b39">
                                    {% for error in form.password2.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px">Submit</button>
                        <a href="../" class="btn btn-primary btn-block btn-flat" style="width: 100px">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
