{% extends 'teachers/teacherbase.html' %}
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
{% load widget_tweaks %}
{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}Class Management{% endblock %}
			<small>{% block page_description %}manage all classes{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
        {% endblock %}
    </section>
{% endblock%}

{% block content %}
    <section class="content">
        <div class="row">
            <a class="btn btn-app" href="./addclass" style="width: 150px;">
                    <i class="fa fa-plus"></i>
                    <b>Add New Class</b>
            </a>
            <div class="box box-solid box-primary" style="box-shadow: 1px 2px 5px grey;">
                <div class="box-header with-border">
                    <h3 class="box-title">Classes</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                
                <div class="box-body">
                    <form method="get">
                        <div class="well">
                            <h4 style="margin-top: 0">Filter</h4>
                            <div class="row">
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="questiontype">Class:</label>
                                    {% render_field filter.form.userclass class="form-control" %}
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="questiontype">Created By:</label>
                                    {% render_field filter.form.createdby__username class="form-control" %}
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary btn-flat" style="width: 200px; display: inline-block">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                                <a href="." class="btn btn-primary btn-block btn-flat" style="width: 200px;  display: inline-block;" >Reset Filters</a>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered table-hover dataTable">
                        {% if classobjects.all %}
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Class
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Student Count
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Date Created
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Time Created
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Created By
                                </th>
                            </tr>
                        </thead>
                        {% for x in filter.qs %}
                        <form method = 'post'>
                            {% csrf_token %}
                            <tr role="row">
                                <td>
                                    {{ x.userclass }}
                                </td>
                                <td>
                                    {{ x.studentcount }}
                                </td>
                                <td>
                                    {{ x.datecreated }}
                                </td>
                                <td>
                                    {{ x.timecreated }}
                                </td>
                                <td>
                                    {{ x.createdby }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <thead>
                                <th>
                                    <h4>No Classes Found</h4>
                                </th>
                            </thead>
                        {% endif %}
                    </table>
            </div>
        </div>
    </section>

{% endblock %}