{% extends 'teachers/teacherbase.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="register-box-body">
                    <h3 class="login-box-msg">Are you sure you want to delete "{{ object.groupname }}"?</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary btn-block btn-flat"  style="width: 100px; "type="submit" value="Confirm" />
                        <a href="../" class="btn btn-primary btn-block btn-flat" style="width: 100px; margin-top: 0.2%;">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}