{% extends 'teachers/teacherbase.html' %}
{% block content %}
<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="register-box-body">
                    <p class="login-box-msg" style="font-size: 18pt;">Edit Question {{ rangequestions.questionid.questionid }}</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group has-feedback">
                                <label for="questiontype">Question Type:</label>
                                <select name="questiontype" class="form-control" value="{{ result.questiontype }}">
                                    <option value='{{ result.questiontype }}' disabled selected hidden>{{ result.questiontype }}</option>
                                    {% for x in questiontypechoices %}	
                                        <option value='{{ x.0 }}'>{{ x.0 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="topicname">Topic of Question:</label>
                                <select name="topicname" class="form-control" value="{{ currentquestiontopicname }}">
                                    <option value='{{ currentquestiontopicname }}' disabled selected hidden>{{ currentquestiontopicname }}</option>
                                    {% for e in questiontopic %}	
                                        <option value='{{ e.0 }}'>{{ e.0 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group has-feedback">
                                <label for="title">Question Title:</label>
                                <input type="text" name="title" class="form-control" value="{{ result.title }}">
                            </div>

                            <div class="form-group has-feedback">
                                <label for="text">Question Text:</label>
                                <input type="text" name="text" class="form-control" value="{{ result.text }}">
                            </div>

                            <div class="form-group has-feedback">
                                <label for="hint">Hint:</label>
                                <input type="text" name="hint" class="form-control" value="{{ result.hint }}">
                            </div>

                            <div class="form-group has-feedback">
                                <label for="marks">Marks:</label>
                                <input type="number" name="marks" class="form-control" value="{{ result.marks }}">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px; margin-bottom: 2%;">Submit</button>
                        </form>
{% endblock %}