{% extends 'teachers/teacherbase.html' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {{ message }}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="register-box-body">
                    <p class="login-box-msg">Upload Question Excel File</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            <label for="qnsfile">Excel File Upload:</label>
                            <input type="file" name="qnsfile" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px">Submit</button>
                        <a href="{{redirect}}" class="btn btn-primary btn-block btn-flat pull-left" style="width: 100px">Back</a>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
