{% extends 'teachers/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <b type="hidden" ></b>
                {% endfor %}
            </ul>
            {% endif %}
            
        <div class="row" style="width: 70%; margin: 0 auto" >
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_check" value = "done">
                <input type="hidden" name="rangeid" value= {{ rangeid }} >
                <input type="hidden" name="currentmarks" value = {{ currentmarks }}>
                <div style="margin: 0 auto">
                    <button type="submit" class="btn btn-success btn-block btn-flat" style="margin: 0 auto; font-size: 18px;">Back To View Ranges Page</button>
                </div>
            </form>
            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title"> Importing Questions to: {{ rangename }} </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                <div class="box-body">
                        <div class="box">
                            <table class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Range Name
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Date Created
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Start Date
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            End Date
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Max Score
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Last Modified Date
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Range Code
                                        </th>
                                    </tr>
                                </thead>
                                    <tr role="row">
                                        <td> {{rangeinfo.rangename }}</td>
                                        <td> {{rangeinfo.datecreated }}</td>
                                        <td> {{rangeinfo.datestart }}</td>
                                        <td> {{rangeinfo.dateend }}</td>
                                        <td> {{rangeinfo.maxscore }}</td>
                                        <td> {{rangeinfo.lastmodifiedby }}</td>
                                        <td> {{rangeinfo.rangecode }}</td>
                                    </tr>
                        
                            </table>
                        </div>
                <div class="box-body">
                    <div class="box">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Question Type
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Question Title
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Question Text
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Hint 
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Answer
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Marks
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Topic Name
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                        Import
                                    </th>
                                </tr>
                            </thead>
                            {% for e in allquestions %}
                            <form method = 'post'>
                                {% csrf_token %}
                                <tr role="row">
                                    <td> {{e.questiontype }} </td>
                                    <td> {{e.title }} </td>
                                    <td> {{e.text }} </td>
                                    <td> {{e.hint }} </td>

                                    <td>
                                        {% for x in allanswers %}
                                            {% if e.questionid == x.questionid.questionid %}
                                                {{ x.answer }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>

                                    <td> {{ e.marks }} </td>
                                    <td>
                                        {% for x in topicnames %}
                                            {% if e.topicid.topicid == x.topicid %}
                                                {{ x.topicname }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <input type = "hidden" name = "questiontype" value = {{ e.questiontype }} >
                                    <input type = "hidden" name = "title" value = {{ e.title }} >
                                    <input type = "hidden" name = "text" value = {{ e.text }} >
                                    <input type = "hidden" name = "hint" value = {{ e.hint }} >
                                    <input type = "hidden" name = "answer" value = {{ x.answer }} >
                                    <input type = "hidden" name = "marks" value = {{ e.marks }} >
                                    <input type = "hidden" name = "topicname" value = {{ x.topicname }} >
                                    <input type = "hidden" name = "rangeid" value = {{ rangeinfo.rangeid }} >
                                    <input type = "hidden" name = "topicid" value = {{ x.topicname }} >
                                    <input type = "hidden" name = "questionid" value = {{ e.questionid }} >

                                    <input type = "hidden" name = "form_check" value = "importquestions" >

                                    <td><button type="submit" class="btn btn-primary btn-block btn-flat pull-right" style="width: 100px">Import</button></td>

                                </tr>
                            </form>
                            {% endfor %}
                        </table>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}