{% extends 'teachers/teacherbase.html' %}
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
{% load widget_tweaks %}
{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}Question Management{% endblock %}
			<small>{% block page_description %}view all questions{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
        {% endblock %}
    </section>
{% endblock%}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Questions</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                
                <div class="box-body">
                    <form method="get">
                        <div class="well">
                            <h4 style="margin-top: 0">Filter</h4>
                            <div class="row">
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="questiontype">Question Type:</label>
                                    {% render_field filter.form.questiontype class="form-control" %}
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="topicid">Question Topic:</label>
                                    {% render_field filter.form.topicid__topicname class="form-control" %}
                                </div> 
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="title">Question Title:</label>
                                    {% render_field filter.form.title class="form-control" %}
                                </div>
                                    <button type="submit" class="btn btn-primary btn-flat" style="width: 200px; display: inline-block">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                    <a href="{{ rangeurl }}" class="btn btn-primary btn-block btn-flat" style="width: 200px;  display: inline-block;" >Reset Filters</a>
                            </div>
                        </div>
                    </form>
    <table class="table table-bordered table-hover dataTable">
        {% if questions.all %}
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Question Type
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Question Topic
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Question Title
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Question Text
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Question Hint
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Question Marks
                </th>
        </thead>
        {% for x in questions %}
            <tr role="row">
                <td> 
                    {% if x.questiontype == 'FL' %}
                        Flag
                    {% elif x.questiontype == 'MCQ' %}
                        MCQ
                    {% elif x.questiontype == 'SA' %}
                        Short Answer
                    {% elif x.questiontype == 'OE' %}
                        Open Ended
                    {% elif x.questiontype == 'TF' %}
                        True/False
                    {% endif %}
                </td>
                <td>
                    {% for m in topics %}
                        {% if m.topicname == x.topicid.topicname %}
                        {{ m.topicname }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td> {{x.title }} </td>
                <td> {{x.text }} </td>
                <td> {{x.hint }} </td>
                <td> {{x.marks }} </td>
                <td style="text-align: center">
                    <a style="width: 100px;" class="btn btn-block btn-primary" href="{{ rangeurl }}/edit/{{ x.questionid }}">Edit</a>
                    <a style="width: 100px;" class="btn btn-block btn-danger" href="{{ rangeurl }}/delete/{{ x.questionid }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
            <thead>
                <th>
                    <h4>No Questions Found</h4>
                </th>
            </thead>
        {% endif %}
    </table>
    {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                        
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        <a class="btn btn-block btn-danger" style="width: 10%;"href="/teachers/usermanagement/disabled">View Disabled Users</a>
    </section>

{% endblock %}