{% extends 'teachers/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="content">
        <div class="row" style="width: 70%; margin: 0 auto" >
                
            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title">{{ rangename }} </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                
                <div class="box-body">
                    <div style="margin-bottom: 1%; margin-top: 1%; text-align: center;">
                        <a class="btn btn-app" href="edit" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-eraser"></i>
                            <b>Edit Range Details</b>
                        </a>
                        <a class="btn btn-app" href="createquestion" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-plus"></i>
                            <b>Create New Questions</b>
                        </a>
                        <a class="btn btn-app" href="import" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-clipboard"></i>
                            <b>Import Questions from Database</b>
                        </a>
                        <a class="btn btn-app" href="import" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-files-o"></i>
                            <b>Import Questions from CSV File</b>
                        </a>
                        </div>
                        <div style="margin-bottom: 1%; margin-top: 1%; text-align: center;">
                        <a class="btn btn-app" href="export" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-floppy-o"></i>
                            <b>Export Current Questions</b>
                        </a>
                        {% if activated is False %}
                        <a class="btn btn-app" href="activate" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-thumbs-o-up"></i>
                            <b>Activate Range</b>
                        </a>
                        {% else %}
                        <a class="btn btn-app" href="deactivate" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-thumbs-o-down"></i>
                            <b>Deactivate Range</b>
                        </a>
                        {% endif %}
                        <a class="btn btn-app" href="assignusers" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-user"></i>
                            <b>Assign Users to Range</b>
                        </a>
                        <a class="btn btn-app" href="assigngroups" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-users"></i>
                            <b>Assign Groups to Range</b>
                        </a>
                    </div>
                    <table class="table table-bordered table-hover dataTable">
                        
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Range Name
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Date Created
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Start Date
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    End Date
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Max Score
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Last Modified By
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Last Modified Date
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Range Code
                                </th>
                            </tr>
                        </thead>
                        {% for e in range %}
                            <tr role="row">
                                <td> {{e.rangename }}</td>
                                <td> {{e.datecreated }}</td>
                                <td> {{e.datestart }}</td>
                                <td> {{e.dateend }}</td>
                                <td> 
                                    {% if e.maxscore is None %}
                                        0
                                    {% else %}
                                        {{e.maxscore }}
                                    {% endif %}
                                    </td>
                                <td> {{e.lastmodifiedby }}</td>
                                <td> {{e.lastmodifieddate}}</td>
                                <td> {{e.rangecode }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Questions in {{ rangename }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover dataTable">
                        {% if result is not None%}
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Type
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Topic
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Title
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Text
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Hint
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Answer
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Marks
                                </th>
                        </thead>
                            {% for x in result %}
                                <tr role="row">
                                    <td> 
                                        {% if x.questiontype == 'FL' %}
                                            Flag
                                        {% elif x.questiontype == 'MCQ' %}
                                            MCQ
                                        {% elif x.questiontype == 'SA' %}
                                            Short Answer
                                        {% elif x.questiontype == 'OE' %}
                                            Open Ended
                                        {% elif x.questiontype == 'TF' %}
                                            True/False
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for m in topics %}
                                            {% if m.topicname == x.topicid.topicname %}
                                            {{ m.topicname }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td> {{x.title }} </td>
                                    <td> {{x.text }} </td>
                                    <td> {{x.hint }} </td>
                                    <td>
                                        {% for y in answer %}   
                                            {% if y.questionid.questionid == x.questionid %}
                                                {{ y.answer }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td> 
                                        {% for a in marks %}
                                            {% if a.questionid.questionid == x.questionid %}
                                                {{ a.points }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td style="text-align: center">
                                        <a class="btn btn-block btn-primary" href="edit/{{ x.questionid }}">Edit</a>
                                        <a class="btn btn-block btn-primary" href="archive/{{ x.questionid }}">Archive</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <thead>
                            <th>
                                <h4>No Questions Found in {{ rangename }}</h4>
                            </th>
                        </thead>
                        {% endif %}
                    </table>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title">Students in {{ rangename }} </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                <div class="box-body">
                        <table id="studentstable" class="table table-bordered table-hover dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Name
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Email
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Username
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Class
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Date Joined
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Accepted
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Accepted By
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Last Modified By
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Last Modified Date
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                                Last Modified Time
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for user in students %}
                                    <tr role="row">
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.userclass }}</td>
                                        <td>{{ user.datejoined }}</td>
                                        <td>{{ user.isaccepted }}</td>
                                        <td>{{ user.acceptedby }}</td>
                                        <td>{{ user.lastmodifiedby }}</td>
                                        <td>{{ user.lastmodifieddate }}</td>
                                        <td>{{ user.lastmodifiedtime }}</td>
                                        <td>
                                            <a class="btn btn-block btn-danger" href="remove/{{ user.username }}">Remove</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
        </div>
    </section>
{% endblock %}