{% extends 'teachers/teacherbase.html' %}
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    
{% load widget_tweaks %}
{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}Range Management{% endblock %}
			<small>{% block page_description %}manage all ranges{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
        {% endblock %}
    </section>
{% endblock%}

{% block content %}
    <section class="content">
        <div class="row">
            <a class="btn btn-app" href="createrange" style="width: 150px;">
                    <i class="fa fa-plus"></i>
                    <b>Add New Range</b>
            </a>
            
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ranges</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                
                <div class="box-body">
                    <form method="get">
                        <div class="well">
                            <h4 style="margin-top: 0">Filter</h4>
                            <div class="row">
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="rangename">Range Name:</label>
                                    {% render_field filter.form.rangename class="form-control" %}
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="rangeurl">Range URL:</label>
                                    {% render_field filter.form.rangeurl class="form-control" %}
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="datecreated">Date Created:</label>
                                    <input type="date" name="datecreated" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="datestarted">Date Started:</label>
                                    <input type="date" name="datestart" class="form-control">
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="timestarted">Date End:</label>
                                    <input type="date" name="dateend" class="form-control">
                                </div>
                            </div>
                            <div>
                                    <button type="submit" class="btn btn-primary btn-flat" style="width: 200px; display: inline-block">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                    <a href="." class="btn btn-primary btn-block btn-flat" style="width: 200px;  display: inline-block;" >Reset Filters</a>
                            </div>
                        </div>
                    </form>
    <table class="table table-bordered table-hover dataTable">
        {% if ranges.all %}
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Range Name
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Range URL
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Date Created
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Start Date
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Start Time
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    End Date
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    End Time
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Max Score
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Last Modified By
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Last Modified Date
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Range Code
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Actions
                </th>
            </tr>
        </thead>
        {% for e in ranges %}
            <tr role="row">
                <td> {{e.rangename }}</td>
                <td> {{e.rangeurl }}</td>
                <td> {{e.datecreated }}</td>
                <td> 
                    {% if e.datestart is None %}
                        <i>Unspecified</i>
                    {% else %}    
                        {{e.datestart }}
                    {% endif %}
                </td>
                <td> 
                    {% if e.timestart is None %}
                        <i>Unspecified</i>
                    {% else %}
                        {{ e.timestart }}
                    {% endif %}
                </td>
                <td> 
                    {% if e.dateend is None %}
                        <i>Unspecified</i>
                    {% else %}    
                        {{e.dateend }}
                    {% endif %}
                </td>
                <td> 
                    {% if e.timeend is None %}
                        <i>Unspecified</i>
                    {% else %}
                        {{e.timeend }}
                    {% endif %}
                </td>
                <td> 
                    {% if e.maxscore is None %}
                        0
                    {% else %}
                        {{e.maxscore }}
                    {% endif %}    
                </td>
                <td> {{e.lastmodifiedby }}</td>
                <td> {{e.lastmodifieddate }}</td>
                <td> {{e.rangecode }}</td>
                <td style="text-align: center">
                    <a class="btn btn-block btn-primary" href="view/{{ e.rangeurl }}">View Range</a>
                    <a class="btn btn-block btn-danger" onclick="return confirm('Archive {{e.rangename}}?')" href="archive/{{ e.rangeurl }}">Archive</a>
                </td>
            </tr>

        {% endfor %}
        {% else %}
            <thead>
                <th>
                    <h4>No Ranges Found</h4>
                </th>
            </thead>
        {% endif %}
    </table>

    {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                        
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        <a class="btn btn-block btn-danger" style="width: 20%;"href="/teachers/rangemanagement/archived">View Archived Ranges</a>
    </section>

{% endblock %}