{% extends 'teachers/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
    <section class="content">
        <div class="row" style="width: 70%; margin: 0 auto" >
                
            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title">{{ rangename }} </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                
                <div class="box-body">
                    <div style="margin-bottom: 1%; margin-top: 1%; text-align: center;">
                        <a class="btn btn-app" href="edit" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-eraser"></i>
                            <b>Edit Range Details</b>
                        </a>
                        <a class="btn btn-app" href="createquestion" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-plus"></i>
                            <b>Create New Questions</b>
                        </a>
                        <a class="btn btn-app" href="import" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-clipboard"></i>
                            <b>Import Questions from Database</b>
                        </a>
                        <a class="btn btn-app" href="./importcsv" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-files-o"></i>
                            <b>Import Questions from CSV File</b>
                        </a>
                        </div>
                        <div style="margin-bottom: 1%; margin-top: 1%; text-align: center;">
                        <a class="btn btn-app" href="./exportcsv" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-floppy-o"></i>
                            <b>Export Current Questions</b>
                        </a>
                        {% if activated is False %}
                        <a class="btn btn-app" href="activate" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-thumbs-o-up"></i>
                            <b>Activate Range</b>
                        </a>
                        {% else %}
                        <a class="btn btn-app" href="deactivate" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-thumbs-o-down"></i>
                            <b>Deactivate Range</b>
                        </a>
                        {% endif %}
                        <a class="btn btn-app" href="assignusers" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-user"></i>
                            <b>Assign Users to Range</b>
                        </a>
                        <a class="btn btn-app" href="assigngroups" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-users"></i>
                            <b>Assign Groups to Range</b>
                        </a>

                        {% if isopen is False %}
                        <a class="btn btn-app" href="./isopen" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-barcode"></i>
                            <b>Enable Code For Range</b>
                        </a>
                        {% else %}
                        <a class="btn btn-app" href="./isclose" style="height: 70px; font-size: 1em; min-width: 15%;">
                            <i class="fa fa-close"></i>
                            <b>Disable Code For Range</b>
                        </a>
                        {% endif %}
                    </div>
                    <table class="table table-bordered table-hover dataTable">
                        
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Range Name
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Range URL
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Date Created
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Start Date
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Start Time
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    End Date
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    End Time
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Max Score
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Last Modified By
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Last Modified Date
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Range Code
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Code Enabled
                                </th>
                            </tr>
                        </thead>
                        {% for e in range %}
                            <tr role="row">
                                <td> {{e.rangename }}</td>
                                <td> {{e.rangeurl }}</td>
                                <td> {{e.datecreated }}</td>
                                <td> 
                                    {% if e.datestart is None %}
                                        <i>Unspecified</i>
                                    {% else %}    
                                        {{e.datestart }}
                                    {% endif %}
                                </td>
                                <td> 
                                    {% if e.timestart is None %}
                                        <i>Unspecified</i>
                                    {% else %}
                                        {{ e.timestart }}
                                    {% endif %}
                                </td>
                                <td> 
                                    {% if e.dateend is None %}
                                        <i>Unspecified</i>
                                    {% else %}    
                                        {{e.dateend }}
                                    {% endif %}
                                </td>
                                <td> 
                                    {% if e.timeend is None %}
                                        <i>Unspecified</i>
                                    {% else %}
                                        {{e.timeend }}
                                    {% endif %}
                                </td>
                                <td> 
                                    {% if e.maxscore is None %}
                                        0
                                    {% else %}
                                        {{e.maxscore }}
                                    {% endif %}    
                                </td>
                                <td> {{e.lastmodifiedby }}</td>
                                <td> {{e.lastmodifieddate }}</td>
                                <td> {{e.rangecode }}</td>
                                {% if isopen == 1%}
                                    <td> Enabled </td>
                                {% else %}
                                    <td> Disabled </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Questions in {{ rangename }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover dataTable">
                        {% if result is not None%}
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Type
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Topic
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Title
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Text
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Hint
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Answer
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Question Marks
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Hint Penalty
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Use Docker
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Docker Image Name
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Actions
                                </th>
                        </thead>
                            {% for x in result %}
                                <tr role="row">
                                    <td> 
                                        {% if x.questiontype == 'FL' %}
                                            Flag
                                        {% elif x.questiontype == 'MCQ' %}
                                            MCQ
                                        {% elif x.questiontype == 'SA' %}
                                            Short Answer
                                        {% elif x.questiontype == 'OE' %}
                                            Open Ended
                                        {% elif x.questiontype == 'TF' %}
                                            True/False
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for m in topics %}
                                            {% if m.topicname == x.topicid.topicname %}
                                            {{ m.topicname }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td> {{x.title }} </td>
                                    <td> {{x.text | safe | cut:"<p>" | cut:"</p>" }} </td>
                                    <td> {{x.hint }} </td>
                                    <td>
                                        {{x.answer}}
                                    </td>
                                    <td> 
                                        {{x.points}}
                                    </td>
                                    <td>{{x.hintpenalty}}</td>
                                    <td>
                                        {{x.usedocker}}
                                    </td>
                                    <td>
                                        {{x.registryid}}
                                    </td>
                                    <td style="text-align: center">
                                        <a class="btn btn-block btn-success" href="edit/{{ x.questionid }}">Edit</a>
                                        <a class="btn btn-block btn-danger" onclick="return confirm('Archive Question?')" href="archive/{{ x.questionid }}">Archive</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <thead>
                            <th>
                                <h4>No Questions Found in {{ rangename }}</h4>
                            </th>
                        </thead>
                        {% endif %}
                    </table>
                    <br>
                    <a class="btn btn-block btn-danger" style="width: 30%" href="archived">View Archived Questions</a>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title">Groups in {{ rangename }} </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                <div class="box-body">
                    <table id="studentstable" class="table table-bordered table-hover dataTable" role="grid">
                        {% if groups is not None %}
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Group Name
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Group Leader
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Date Joined
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr role="row">
                                <td>{{ group.groupname }}</td>
                                <td>{{ group.groupleader }}</td>
                                <td>{{ group.datejoined }}</td>
                                <td>
                                    <a class="btn btn-block btn-danger" onclick="return confirm('Remove {{group.groupname}} from {{rangename}}?')" href="removegroup/{{ group.groupname }}">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {% else %}
                        <thead>
                            <th><h4>No Groups Found</h4></th>
                        </thead>
                        {% endif %}
                    </table>
            </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title">Students in {{ rangename }} </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                <div class="box-body">
                    <table id="studentstable" class="table table-bordered table-hover dataTable" role="grid">
                        {% if students is not None %}
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Name
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Email
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Username
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Class
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Group
                                </th>
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in students %}
                            <tr role="row">
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.userclass }}</td>
                                <td>
                                    {% for student in groupstudent %}
                                        {% if student.studentID.username == user.username %}
                                            {{ student.groupid.groupname }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-block btn-success" href="report/{{ user.username }}">User Report</a>
                                    <a class="btn btn-block btn-danger" onclick="return confirm('Remove {{user.username}} from {{rangename}}?')" href="remove/{{ user.username }}">Remove User</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {% else %}
                        <thead>
                            <th><h4>No Users Found</h4></th>
                        </thead>
                        {% endif %}
                    </table>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}