{% extends 'teachers/teacherbase.html' %}

{% block title_outer %}
	<title>
		{%block title %}
			Cyber Range
		{% endblock %}
	</title>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script>
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

		var points = {{ pointsawarded }}
		var hintpenalty = {{ hintpenalty }}
		var unobtained = {{ unobtained }}

		var data = google.visualization.arrayToDataTable([
          ['Points', 'Answers'],
          ['Points Awarded',     points],
          ['Points Unobtained',      unobtained],
          ['Hint Penalty',  hintpenalty],
        ]);

        // Set chart options
        var options = {
        'width': "100%",
        'height': 380,
        'backgroundColor': 'transparent',
        pieHole: 0.2
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
	</script>

  </head>
{% endblock %}

{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}
			{% endblock %}
			<small>{% block page_description %}{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}

		{% endblock %}
	</section>
{% endblock%}

{% block content %}
    <div class="row" style="width:95%; margin: 0 auto;">
		<div style="padding: 0.2%; margin: 0 auto; margin-bottom: 2%;">
				<h2 style="text-align: center;">Report for {{username}}'s Range: {{ rangename }}</h2>
		</div>
        <div class="col" style="text-align:center; margin: 0 auto; width: 50%; float: left;">
			<h3> Points Awarded: <strong> {{pointsawarded}} / {{maxscore}} </strong> </h3>
			<div id="piechart"></div>
		</div>
		<div class="col-md-6">
			<div class="box box-solid box-success" style="box-shadow: 1px 2px 5px grey;">
				<div class="box-header with-border">
					<h3 class="box-title" style="font-size: 22px">Leaderboard</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				
				<div class="box-body" style="height: 400px; overflow: auto;">
					<table class="table table-hover dataTable" role="grid">
						<thead>
							<tr role="row">
								<th class="sorting_asc text-center" tabindex="0" aria-controls="example2"  aria-sort="asceding">
									Rank
								</th>
								<th class="sorting_asc text-center" tabindex="0" aria-controls="example2"  aria-sort="asceding">
									Score
								</th>
								<th class="sorting_asc text-center" tabindex="0" aria-controls="example2" style="width:65%;" aria-sort="asceding">
									Username
								</th>
							</tr>
						</thead>
						<tbody>
						{% for students in ranking %}
							{% if students.studentID == username %}
								<tr role="row" class="bg-yellow">
							{% else %}
								<tr role="row">
							{% endif %}
									<td class="text-center" style="font-size:18px;"> #{{forloop.counter}}</td>
									<td class="text-center" style="font-size:18px;">{{ students.points}}/{{ maxscore }}</td>
									<td class="text-center" style="font-size:18px;"><strong>{{ students.studentID }}</strong></td>
								</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
	
	<div class="row">
		<div class="col" style="width: 95%; margin: 0 auto; margin-top: 3%;">
			<div class="box box-solid box-primary" style="box-shadow: 1px 2px 5px grey;">
				<div class="box-header">
					<h3 class="box-title" style="font-size:22px;">{{ rangename }} Questions</h3>
					<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<div class="box-body">
				<table id="studentstable" class="table table-bordered table-hover dataTable" role="grid" style="table-layout: fixed; width: 100%; word-wrap: break-word; display: table;">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="3%">
								ID
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="10%">
								Topic
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="10%">
								Question Title
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="20%">
								Question Text
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="20%">
								Given Answer
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="15%">
								Correct Answer
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="10%">
								Question Points
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="10%">
								Points Awarded
							</th>
							<th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding" width="10%">
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						{% for question in studentquestionsobj %}
						<tr role="row">
							<td>{{ question.questionid.questionid }}</td>
							<td>{{ question.questionid.topicid.topicname }}</td>
							<td>{{ question.questionid.title }}</td>
							<td>
								{{ question.questionid.text | safe | cut:"<p>" | cut:"</p>"}}
							</td>
							<td>
								{{ question.answergiven }}
							</td>
							<td>
								{{ question.questionid.answer }}
							</td>
							<td>{{ question.questionid.points }}</td>
							<td>
								{{ question.marksawarded }}
							</td>
							<td>
								{% if question.ismarked is False %}
									{% if question.questionid.questiontype == 'OE' %}
									<a class="btn btn-block btn-success" onclick="return confirm('Mark {{username}}\'s Question as Correct?')" href="mark/{{question.questionid.questionid}}/correct">Mark As Correct</a>
									<a class="btn btn-block btn-danger" onclick="return confirm('Mark {{username}}\'s Question as Wrong?')" href="mark/{{question.questionid.questionid}}/wrong">Mark As Wrong</a>
									{% else %}
									-
									{% endif %}
								{% else %}
									-
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						{% for question in questionsobject %}
						<tr role="row">
							<td>{{ question.questionid }}</td>
							<td>{{ question.topicid.topicname }}</td>
							<td>{{ question.title }}</td>
							<td>{{ question.text | safe | cut:"<p>" | cut:"</p>"}}</td>
							<td> - </td>
							<td>
								{{ question.answer }}
							</td>
							<td>{{ question.points }}</td>
							<td> - </td>
							<td> - </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div style="width: 100px">
			<a href="../../" class="btn btn-block btn-primary">Back</a>
		</div>
	</div>
{% endblock %}