{% extends 'teachers/teacherbase.html' %}
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
{% load widget_tweaks %}
{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}Teacher Management{% endblock %}
			<small>{% block page_description %}view all teachers{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
        {% endblock %}
    </section>
{% endblock%}

{% block content %}
    <section class="content">
        <div class="row">
            <a class="btn btn-app" href="./addteacher" style="width: 150px;">
                    <i class="fa fa-plus"></i>
                    <b>Add New Teacher Account</b>
            </a>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Teachers</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                
                <div class="box-body">
                    <form method="get">
                        <div class="well">
                            <h4 style="margin-top: 0">Filter</h4>
                            <div class="row">
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="questiontype">Email:</label>
                                    {% render_field filter.form.email class="form-control" %}
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="topicid">Username:</label>
                                    {% render_field filter.form.username class="form-control" %}
                                </div> 
                                <div class="form-group col-sm-4 col-md-3">
                                    <label for="title">Name:</label>
                                    {% render_field filter.form.name class="form-control" %}
                                </div>
                                <div class="form-group col-sm-4 col-md-3">
                                        <label for="title">Date Joined:</label>
                                        {% render_field filter.form.datejoined class="form-control" %}
                                </div>
                                    <button type="submit" class="btn btn-primary btn-flat" style="width: 200px; display: inline-block">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                    <a href="{{ rangeurl }}" class="btn btn-primary btn-block btn-flat" style="width: 200px;  display: inline-block;" >Reset Filters</a>
                            </div>
                        </div>
                    </form>

    <table class="table table-bordered table-hover dataTable">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Email
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Username
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Name
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Date Joined
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                    Last Login
                </th>
        </thead>
        {% for x in teacherobjects %}
            <tr role="row">
                <td> {{x.email }} </td>
                <td> {{x.username }} </td>
                <td> {{x.name }} </td>
                <td> {{x.datejoined }} </td>
                <td> {{x.last_login }} </td>
            </tr>
        {% endfor %}
    </table>
            </div>
        </div>
    </section>

{% endblock %}