{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block title %}
Cyber Range
{% endblock %}
{% block nav_links %}
	<li>
		<a href="/teachers/">
			<i class="fa fa-dashboard"></i><span>Dashboard</span>
		</a>
    </li>
    <li>
        <a href="/teachers/rangemanagement/">
            <i class="fa fa-fighter-jet"></i><span>Range Management</span>
        </a>
    </li>
    <li>
        <a href="/teachers/questionmanagement/">
            <i class="fa fa-question"></i><span>Question Management</span>
        </a>
    </li>
	<li>
		<a href="/teachers/usermanagement/">
			<i class="fa fa-user"></i><span>User Management</span>
		</a>
	</li>
	<li>
        <a href="/teachers/groupmanagement/">
            <i class="fa fa-group"></i><span>Group Management</span>
        </a>
    </li>
    <li>
        <a href="/teachers/dockermanagement/">
            <i class="fa fa-rocket"></i><span>Docker Management</span>
        </a>
    </li>
    <li>
        <a href="/teachers/teachermanagement/">
            <i class="fa fa-institution"></i><span>Teacher Management</span>
        </a>
    </li>
    <li>
        <a href="/teachers/classmanagement/">
            <i class="fa fa-institution"></i><span>Class Management</span>
        </a>
    </li>
    <li>
        <a href="/teachers/SDLmanagement/">
            <i class="fa fa-institution"></i><span>SDL Management</span>
        </a>
    </li>
{% endblock nav_links %}