{% extends 'teachers/teacherbase.html' %}

{% block content_header%}
	<section class="content-header">
		<h1>
            {% block page_name %}
                Teacher's Portal
            {% endblock %}
		    <small>
                {% block page_description %}
                    
                {% endblock %}
            </small>
		</h1>
		{% block breadcrumbs %}

        {% endblock %}
    </section>
{% endblock%}

{% block content %}
    <h3>Pending Approvals:</h3>
    <section>
        <a href="usermanagement">Manage Users</a>
    </section>
{% endblock %}