{% extends 'teachers/teacherbase.html' %}
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
{% load widget_tweaks %}
{% block content_header%}
	<section class="content-header">
		<h1>
			{% block page_name %}User Management{% endblock %}
			<small>{% block page_description %}manage all users{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
        {% endblock %}
    </section>
{% endblock%}

{% block content %}
    <section class="content">
        <div class="row">
                <a class="btn btn-app" href="adduser" style="width: 150px;">
                        <i class="fa fa-plus"></i>
                        <b>Add New User</b>
                </a>
            <div class="box">
                <div class="box-header with-border">
                        <h3 class="box-title">Users</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                </div>
                <div class="box-body">
                        <form method="get">
                            <div class="well">
                                <h4 style="margin-top: 0">Filter</h4>
                                <div class="row">
                                    <div class="form-group col-sm-4 col-md-3">
                                        <label for="name">Name:</label>
                                        {% render_field filter.form.name class="form-control" %}
                                    </div>
                                    <div class="form-group col-sm-4 col-md-3">
                                        <label for="email">Email:</label>
                                    {% render_field filter.form.email class="form-control" %}
                                    </div>
                                    <div class="form-group col-sm-4 col-md-3">
                                        <label for="username">Username:</label>
                                    {% render_field filter.form.username class="form-control" %}
                                    </div>
                                    <div class="form-group col-sm-4 col-md-3">
                                        <label for="userclass">Class:</label>
                                        <select name="userclass" class="form-control" placeholder="Class">
                                            <option value="" selected></option>
                                            {% for class in classesobject %}	
                                            <option value='{{ class.id }}'>{{ class.userclass }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="display: flex; justify-content: right;">
                                    <div class="form-group col-sm-4 col-md-3">
                                        <label for="isaccepted">Accepted</label>
                                        <select name="isaccepted" class="form-control" placeholder="Class">
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                            <option value="">Both</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-3">
                                        <label for="userclass">Class (Keyword Search):</label>
                                        {% render_field filter.form.userclass class="form-control" %}
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-flat" style="width: 200px; display: inline-block">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                    <a href="." class="btn btn-primary btn-block btn-flat" style="width: 200px;  display: inline-block;" >Reset Filters</a>
                                </div>
                            </div>
                        </form>
                    <table id="studentstable" class="table table-bordered table-hover dataTable" role="grid">
                    {% if usersobject.all %}
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Name
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Email
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Username
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Class
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Date Joined
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Accepted
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Accepted By
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Last Modified By
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Last Modified Date
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                    Last Modified Time
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in usersobject%}
                        <tr role="row">
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.userclass.userclass }}</td>
                            <td>{{ user.datejoined }}</td>
                            <td>{{ user.isaccepted }}</td>
                            <td>{{ user.acceptedby }}</td>
                            <td>{{ user.lastmodifiedby }}</td>
                            <td>{{ user.lastmodifieddate }}</td>
                            <td>{{ user.lastmodifiedtime }}</td>
                            <td>
                                {% if user.isaccepted == False %}
                                <a class="btn btn-block btn-success" href="acceptuser/{{ user.username }}">Accept User</a>
                                {% endif %}
                                <a class="btn btn-block btn-primary" href="modifyuser/{{ user.username }}">Edit</a>
                                <a class="btn btn-block btn-danger" onclick="return confirm('Disable {{user.username}}?')" href="disableuser/{{ user.username }}">Disable</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <thead>
                        <th>
                            <h4>User Records Not Found</h4>
                        </th>
                    </thead>

                    {% endif %}
                    </tbody>
                </table>

                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                        
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        <a class="btn btn-block btn-danger" style="width: 20%;"href="/teachers/usermanagement/disabled">View Disabled Users</a>
    </section>
{% endblock %}

<script>
    $(function () {
       $("#studentstable").DataTable();
    });
</script>