{% extends 'teachers/teacherbase.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 col-md-offset-3">
                <div class="register-box-body">
                    <p class="login-box-msg" style="font-size: 16pt;">Question {{ view.kwargs.questionid }}</p>
                    <form method="post" style="font-size: 12pt;">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            <label for="questiontype">Question Type:</label>
                            <br>
                            {% if result.questiontype == 'FL' %}
                                Flag
                            {% elif result.questiontype == 'MCQ' %}
                                MCQ
                            {% elif result.questiontype == 'SA' %}
                                Short Answer
                            {% elif result.questiontype == 'OE' %}
                                Open Ended
                            {% elif result.questiontype == 'TF' %}
                                True/False
                            {% endif %}
                        </div>

                        <div class="form-group has-feedback">
                            <label for="topicname">Question Topic:</label>
                            <br>
                            {{ currentquestiontopicname }}
                        </div>

                        <div class="form-group has-feedback">
                            <label for="title">Question Title:</label>
                            <br>
                            {{ result.title }}
                        </div>

                        <div class="form-group has-feedback">
                            <label for="text">Question Text:</label>
                            <br>
                            {{ result.text | safe | cut:"<p>" | cut:"</p>"}}
                        </div>

                        <div class="form-group has-feedback">
                            <label for="hint">Hint:</label>
                            <br>
                            {{ result.hint }}
                        </div>

                        <div class="form-group has-feedback">
                            <label for="points">Points:</label>
                            <br>
                            {{ points }} points
                        </div>

                        <div class="form-group has-feedback">
                            <label for="hintpenalty">Hint Penalty:</label>
                            <br>
                            {{ result.hintpenalty }}
                        </div>

                        {% if result.questiontype == 'MCQ' %}
                            <div class="form-group has-feedback">
                                <label for="optionone">Option One:</label>
                                <br>
                                {{ optionone }}
                            </div>
                            <div class="form-group has-feedback">
                                <label for="optiontwo">Option Two:</label>
                                <br>
                                {{ optiontwo }}
                            </div>
                            <div class="form-group has-feedback">
                                <label for="optionthree">Option Four:</label>
                                <br>
                                {{ optionthree }}
                            </div>
                            <div class="form-group has-feedback">
                                <label for="optionfour">Option Four:</label>
                                <br>
                                {{ optionfour }}
                            </div>
                        {% endif %}

                        <div class="form-group has-feedback">
                            <label for="answer">Answer:</label>
                            <br>
                            {{ result.answer }}
                        </div>

                        <div class="form-group has-feedback">
                            <label for="usedocker">Use Shell-in-a-box:</label>
                            <br>
                            {% if result.usedocker is True %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </div>
                        
                        {% if result.usedocker %}
                            <div class="form-group has-feedback">
                                <label for="registryid">Registry ID:</label>
                                <br>
                                {{ result.registryid }}
                            </div>
                        {% endif %}

                        
                        <div class="form-group has-feedback">
                            <label for="remarks">Remarks:</label>
                            <br>
                            {% if result.remarks is None %}
                                No remarks.
                            {% else %}
                                {{ result.remarks }}
                            {% endif %}
                        </div>

                        {% if check == 1 %}   
                        <a href='/teachers/questionmanagement/archived' class="btn btn-primary btn-block btn-flat pull-left" style="width: 100px; margin-bottom: 2%;">Back</a>
                        {% else %}
                        <a href='/teachers/questionmanagement' class="btn btn-primary btn-block btn-flat pull-left" style="width: 100px; margin-bottom: 2%;">Back</a>
                        {% endif %}
                    </form>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}