{% extends 'dashboard/base.html' %}

{% block title_outer %}
	<title>
		{%block title %}
			Cyber Range
		{% endblock %}
	</title>

	<head>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script>
			google.charts.load('current', {'packages':['line']});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Range Name');
				data.addColumn('number', 'Score (%)');

				data.addRows({{graphdata|safe}});

				var options = {
					chartArea: {  width: "50%", height: "70%" },
					chart: {
					title: 'Past Five Range Scores',
					subtitle: 'in percent (%)'
					},
					'backgroundColor': 'transparent',
					'width': "100%",
					'height': 500,
					vAxis: {
						viewWindowMode:'explicit',
						viewWindow: {
							min:0,
							max:100,
						}
					}
				};

				var chart = new google.charts.Line(document.getElementById('linechart_material'));

				chart.draw(data, google.charts.Line.convertOptions(options));
			}

		</script>

	</head>
{% endblock %}

{% block content_header%}
	<section class="content-header" style="width: 90%; margin: 0 auto;">
		<h1>
			{% block page_name %}
			Progress
			{% endblock %}
			<small>{% block page_description %}{% endblock %}</small>
		</h1>
		{% block breadcrumbs %}
		{% endblock %}
	</section>
{% endblock%}

{% block content %}
	<div class="row" style="width:90%; margin: 0 auto;">
		<div class="col-md-4" >
			<div class="box-body ">
				<div class="info-box bg-green">
					<span class="info-box-icon">
						<i class="fa fa-rocket"></i>
					</span>
					<div class="info-box-content text-center">
					  <span class="info-box-text">Total Ranges Completed:</span>
					  	<span class="info-box-number" style="font-size:34px">
							{{ numberofcompletedranges }}
						</span>
					</div>
				</div>

				<div class="info-box bg-orange">
					<span class="info-box-icon">
						<i class="fa fa-bar-chart-o"></i>
					</span>
					<div class="info-box-content text-center">
					  <span class="info-box-text">
							Average Score Percentage:
						</span>
					  	<span class="info-box-number" style="font-size:34px">
							  {{ averagepercent }}%
						</span>
					</div>
				</div>

				<div class="info-box bg-red">
					<span class="info-box-icon">
						<i class="fa fa-trophy"></i>
					</span>
					<div class="info-box-content text-center">
					  <span class="info-box-text">
							Top Fives:
						</span>
					  	<span class="info-box-number" style="font-size:34px">
							{{ topfive }}
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-7" style="margin-bottom: 5%; margin-left: 5%;">
			<div id="linechart_material"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col" style="width: 90%; margin: 0 auto;">
			<div class="box box-solid box-primary" style="box-shadow: 1px 2px 5px grey;">
				<div class="box-header with-border">
          			<h3 class="box-title" style="font-size:22px;">Ranges</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
        		</div>
				
				<div class="box-body">
					<table class="table table-hover dataTable" role="grid">
					  <thead>
						<tr role="row">
						  <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
								Range Name
						  </th>
							<th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
								Score
						  </th>
						  <th class="sorting_asc text-center" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="asceding">
								Action
						  </th>
						</tr>
					  </thead>
					  <tbody>
					  {% for range in rangesobject %}
						  <tr role="row">
							<td class="text-center">{{ range.rangeID.rangename }}</td>
							  <td class="text-center">{{ range.points }}/{{ range.rangeID.maxscore}}</td>
							<td ><a style="width: 100px;" class="btn btn-block btn-primary center-block" href="{{ range.rangeID.rangeurl }}/report">View Report</a></td>
						  </tr>
					  {% endfor %}
					  </tbody>
					</table>
				<div class="box-footer">
					<a class="btn btn-primary center-block" href="/ranges/">View All Ranges</a>
				</div>
			</div>
				</div>

		</div>
		</div>
{% endblock %}
